<!DOCTYPE html>
<html lang="en">
<head>
    <title>help-yourself</title>
    <link href="./index.html">
</head>
<body>
    <div class = "images">
        <div class="row">
            <div class = "col-lg-4 col-md-6 mb-4">
                <img src ="{{}}" class ="img-fluid mb-4" alt="">
            
                <img src ="{{}}" class ="img-fluid mb-4" alt="">
            </div> 
            <div class = "col-lg-4 col-md-6 mb-4">
                <img src ="{{}}" class ="img-fluid mb-4" alt="">
            
                <img src ="{{}}" class ="img-fluid mb-4" alt="">
            </div>
        </div>
    </div>
    
</body>
</html>